@font-face
{
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
}



:root
{
    --clr-primary-600: hsl(0, 0%, 50%);
    --clr-primary-400: hsl(40, 90%, 60%);

    --ff-poppins: 'Poppins', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    font-family: var(--ff-poppins);
    font-weight: normal;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* === CSS UTILITIES ===*/

.clr-600 { color: var(--clr-primary-600);}

.fw-600 { font-weight: bold;}

/* === CSS STYLING === */

::-webkit-scrollbar
{
    background: var(--clr-primary-400);
}

::-webkit-scrollbar-thumb
{
    background: black;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1002; /* Ensures header stays on top of other elements */
}

.burger-menu {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: none; /* Hidden by default */
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 1001;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a:nth-child(1)
{
    font-size: 3rem;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

/* Show the burger menu and hide the default menu on smaller screens */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .wrapper-nav {
        display: none; /* Hide the original menu on small screens */
    }
}

.wrapper-nav {
    height: 3.5rem;
    padding: 2rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow:
            2.3px 0.6px 6.2px rgba(0, 0, 0, 0.031),
            5.4px 1.5px 14.4px rgba(0, 0, 0, 0.045),
            9.7px 2.6px 25.9px rgba(0, 0, 0, 0.055),
            16.1px 4.3px 43px rgba(0, 0, 0, 0.065),
            26.5px 7.1px 70.9px rgba(0, 0, 0, 0.075),
            46.2px 12.5px 123.9px rgba(0, 0, 0, 0.089),
            100px 27px 268px rgba(0, 0, 0, 0.12);
}

.wrapper-nav::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary-400);
    opacity: 0.8;
    z-index: -1; /* Places the pseudo-element behind the content */
    transition: .5s ease-in-out;
}

.wrapper-nav:hover::before
{
    opacity: 1;
    transition: .5s ease-in-out;
}

.wrapper-nav .col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 1rem;
}

.wrapper-nav .col, col > img
{
    display: flex;
    justify-content: center;
    width: 50%;
}


.wrapper-nav img
{
    width: auto;
    height: 3rem;
    cursor: pointer;
    transition: 0.9s;
}

.wrapper-nav img:hover
{
    box-shadow: 7.5px 7.5px 9px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition-duration: 0.5s;

}

ul
{
    display: flex;
    gap: 1rem;
    color: whitesmoke;
    text-shadow:
            2.3px 0.6px 6.2px rgba(0, 0, 0, 0.031),
            5.4px 1.5px 14.4px rgba(0, 0, 0, 0.045),
            9.7px 2.6px 25.9px rgba(0, 0, 0, 0.055),
            16.1px 4.3px 43px rgba(0, 0, 0, 0.065),
            26.5px 7.1px 70.9px rgba(0, 0, 0, 0.075),
            46.2px 12.5px 123.9px rgba(0, 0, 0, 0.089),
            100px 27px 268px rgba(0, 0, 0, 0.12)
;
}

li > a
{
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

li a::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: whitesmoke;
    transform-origin: left;
    transition: .5s ease-in-out;
    border-radius: .5rem;
}

li a:hover::after
{
    width: 100%;
}

.col-Image-Website
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-Image-Website img
{
    width: 100%;
    height: 100svh;
    object-fit: cover;
    filter: blur(2.5px);
    box-shadow:
            2.3px 0.6px 6.2px rgba(0, 0, 0, 0.031),
            5.4px 1.5px 14.4px rgba(0, 0, 0, 0.045),
            9.7px 2.6px 25.9px rgba(0, 0, 0, 0.055),
            16.1px 4.3px 43px rgba(0, 0, 0, 0.065),
            26.5px 7.1px 70.9px rgba(0, 0, 0, 0.075),
            46.2px 12.5px 123.9px rgba(0, 0, 0, 0.089),
            100px 27px 268px rgba(0, 0, 0, 0.12)
;
}

.col-title
{
    position: absolute;
}

.col-title h1
{
    font-weight: bold;
    color: whitesmoke;
    font-size: 4rem;
    text-shadow:
            2.3px 0.6px 6.2px rgba(0, 0, 0, 0.031),
            5.4px 1.5px 14.4px rgba(0, 0, 0, 0.045),
            9.7px 2.6px 25.9px rgba(0, 0, 0, 0.055),
            16.1px 4.3px 43px rgba(0, 0, 0, 0.065),
            26.5px 7.1px 70.9px rgba(0, 0, 0, 0.075),
            46.2px 12.5px 123.9px rgba(0, 0, 0, 0.089),
            100px 27px 268px rgba(0, 0, 0, 0.12)
;
}

.carousel {
    margin-block: 4rem;
    overflow: hidden;
    width: auto;
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-track {
    display: flex;
    width: 200%;
    animation: scroll 15s linear infinite;
    animation-play-state: running; /* Ensure animation starts in running state */
}

.carousel-item {
    flex: 0 0 10%; /* Adjust width for each item */
    padding: 30px;
    align-self: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Hover effect for enlarging the item */
.carousel-item:hover {
    transform: scale(1.2); /* Enlarge the item on hover */
    z-index: 1; /* Make sure the hovered item appears on top */
    transition: transform 0.3s ease;
}

.azienda
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    gap: 5rem;
}


.azienda h1
{
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
}

.azienda p
{
    width: 50%;
    text-align: center;
    line-height: 2.5rem;
}

hr
{
    width: 60vw;
}

.azienda h1
{
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
}
.prodotti
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

.prodotti img
{
    object-fit: cover;
    width: 30rem;
    height: 30rem;
    transition: .8s ease-in-out;
    cursor: pointer;
    border-radius: 0.8rem;
}

.prodotti img:hover
{
    transition: .5s ease-in-out;
    transform: scale(1.025);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
}

.prodotto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.prodotto-text
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
}

.prodotto-text button
{
    width: 50%;
    height: 2.5rem;
    background-color: royalblue;
    border-radius: .5rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .5s;
    color: black;
    margin-top: 1em;
}

.prodotto-text button:hover
{
    background-color: #35457e;
    color: whitesmoke;
    transition: .5s;
}

footer {
    width: 100%;
    height: 15rem;
    margin-top: 5rem;
    background-color: var(--clr-primary-400);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .footer-content {
    display: flex;
    width: 100%;
    margin: 10rem;
    gap: 3.5rem;
    align-items: center;
}

footer .footer-content .col:nth-child(1) {
    margin-right: auto;
}

footer .col {
    display: flex;
    flex-direction: column;
}

footer .col img {
    width: 10rem;
}

footer .col ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Stile del form */
form {
    background-color: #fff;
    padding: 20px;
    margin: 120px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative; /* Necessario per posizionare correttamente i messaggi di errore */
}

label {
    margin-bottom: 10px; /* Distanza dal campo input */
    font-weight: bold;
    color: #333;
}

form .col small {
    color: grey;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px; /* Riduce la distanza tra l'input e il messaggio di errore */
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--clr-primary-400);
    transition: background-color 0.3s;
}

/* Stile per i messaggi di errore */
.error-message {
    color: red !important; /* Usa !important per garantire che il colore rosso prevalga su altre regole */
    font-size: 0.85rem;
    font-weight: bold; /* Aggiunge grassetto al testo di errore */
    display: none; /* Nasconde i messaggi di errore inizialmente */
    margin-top: 5px; /* Distanza minima sotto l'input */
    margin-bottom: 10px;
}

/* Aggiunge un asterisco prima del messaggio di errore */
.error-message::before {
    content: '* ';
    color: red; /* Assicura che anche l'asterisco sia rosso */
}

/* Stile per l'outline rosso */
input.invalid, textarea.invalid {
    border: 2px solid red !important; /* Usa !important per sovrascrivere altre regole di stile */
}






@media (max-width: 40em)
{
    .wrapper-nav .col ul
    {
        display: none;
    }
    .col-Image-Website h1
    {
        font-size: 1.5rem;
    }
    .carousel-item
    {
        padding: 1.5rem;
        flex: 0 0 15%;
    }

    .carousel-item:hover
    {
        animation-play-state: running;
    }
    .prodotti
    {
        grid-template-columns: 1fr;
    }
    .prodotto-text p:nth-child(2)
    {
        width: 20em;
    }

    footer
    {
        justify-content: center;
        height: 30rem;
    }

    footer .footer-content
    {
        width: 20em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    footer .footer-content .col
    {
        width: 20em;
        align-items: center;
        text-align: center;
    }

    footer .footer-content .col img {
        margin: 0 auto;
        cursor: pointer;
    }
    form {
        margin: 120px 20px;
        padding: 15px;
    }
}